# ***Hotel Booking Cancelation Prediction***

- Nama: Deryl Baharudin Sopandi
- LinkedIn: www.linkedin.com/in/derylbaharudin
- Github: github.com/derylbaharudin
- Website: derylbaharudin.website

# Business Problem and Data Understanding

## Define Business Problem

### Context

### Problem

The hotel booking dataset is used to understand what customer characteristics that is likely to cancel. Furthermore, these features is used for machine learning training in predicting cancelation so hotel owners can mitigate costumers that is likely to cancel. It would be very helpful for the hotel management to have a model that can predict if a guests will cancel and also know what factors made a guest cancels, so they can manage it easier especially in high peak seasons.

### Goals

### Analytics Approach

### Evaluation Metrics

`0` Not Canceled, `1` Canceled

We will use classification model to help hotel companies to predict the probability a customer would cancel. The model will then be measured with a certain metric. The metric is basically a probability of four possible outcomes which is defined below:

- True Positive (TP): predicted is the same as actual, which means model predicts people that cancels their booking.

- False Positive (FP): predicted as canceled but actually the customer came to the hotel.

- False Negative (FN): predicted as not canceled but actually the customer canceled the booking.

- True Negative (TN): predicted as not canceled and the customer camed and stayed at the hotel.

The false predicition in this model will have two consequences, the first one is the customer that is predicted to cancel actually came, which will be a disaster due to complaints because the room reserved is already canceled. The other one is when predicted not canceled but the guest actually canceled or did not turn up, which is not very much of a problem because the room can always be reselled for upcoming guests.

As defined, the metric that we will use on predicting the cancelation is using precision score to specify our focus on the prediction of cancelation that is 1 (Canceled) and pay more attention towards true positive and false positive.

## Data Understanding

### Data Source

Source : [Kaggle - Hotel Booking Demand Dataset](https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand)

The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.

The data was downloaded and cleaned by Thomas Mock and Antoine Bichat for #TidyTuesday during the week of February 11th, 2020.

### Dataset Description

- The data contains hotel bookings due to arrive between 2015 and 2017
- Each record of data represents information related to ordering transactions that occur
- Unbalance dataset (is_canceled)

### Attibutes Information

Attribute Information  `[remove irrelevant attributes]`

`hotel` (H1 = Resort Hotel or H2 = City Hotel)

`is_canceled` Value indicating if the booking was canceled (1) or not (0)

`lead_time` Number of days that elapsed between the entering date of the booking into the PMS and the arrival date

`arrival_date_year` Year of arrival date

`arrival_date_month` Month of arrival date

`arrival_date_week_number` Week number of year for arrival date

`arrival_date_day_of_month` Day of arrival date

`stays_in_weekend_nights` Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel

`stays_in_week_nights` Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel

`adults` Number of adults

`children` Number of children

`babies` Number of babies

`meal` Type of meal booked. Categories are presented in standard hospitality meal package Undefined/SC – no meal

`country` Country of origin. Categories are represented in the ISO 3155–2013 format

`market_segment` Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”

`distribution_channel` Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”

`is_repeated_guest` Value indicating if the booking name was from a repeated guest (1) or not (0)

`previous_cancellations` Number of previous bookings that were cancelled by the customer prior to the current booking

`previous_bookings_not_canceled` Number of previous bookings not cancelled by the customer prior to the current booking

`reserved_room_type` Code of room type reserved. Code is presented instead of designation for anonymity reasons

`assigned_room_typeCode` for the type of room assigned to the booking.Code is presented instead of designation for anonymity reasons

`booking_changes` Number of changes made to the booking from the moment the booking was entered on the PMS until the moment of check-in or out

`deposit_type` Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categorie No

`agent` ID of the travel agency that made the booking

`company` ID of the company that made the booking or responsible for paying the booking

`days_in_waiting_list` Number of days the booking was in the waiting list before it was confirmed to the customer

`customer_type` Type of booking, assuming one of four categorieTransient - Transient-Party - Contract - Group

`adr` Average Daily Rate as defined by dividing the sum of all lodging transactions by the total number of staying nights

`required_car_parking_spaces` Number of car parking spaces required by the customer

`total_of_special_requests` Number of special requests made by the customer (e.g. twin bed or high floor)

`reservation_status Reservation` last status, assuming one of three categorie Canceled – booking was canceled by the customer; Check-Out

`reservation_status_date` Date at which the last status was set. This variable can be used in conjunction with the ReservationStatus to

# Import Dataset and Libraries

In [1]:
# pip install category_encoders

In [3]:
# Library   
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import missingno
from IPython.display import display
# from dython.nominal import associations
# from dython.nominal import identify_nominal_columns

# Data Analysis
from scipy.stats import normaltest

# Feature Engineering
from sklearn.pipeline import Pipeline
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder, QuantileTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import RobustScaler, StandardScaler
import category_encoders as ce

# Model Selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold,train_test_split, cross_val_score, KFold
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score
from sklearn.metrics import roc_curve, roc_auc_score, plot_roc_curve
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import plot_precision_recall_curve
    
# Imbalance Dataset
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler

# Model Deployment
import pickle

# Ignore Warning
import sys
import warnings
warnings.filterwarnings("ignore")

# Set max columns
pd.set_option('display.max_columns', None)

# # Save Figures to Google Drive
# from google.colab import files

In [4]:
# load dataset
df = pd.read_csv('hotel_bookings.csv')

In [5]:
# show head
pd.set_option("display.max_rows", None)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# Data Conditioning

In [6]:
# check info
listItem = []
for col in df.columns :
    listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum()/len(df[col])) * 100,2),
                    df[col].nunique(), list(df[col].drop_duplicates().sample(2).values)]);

dfDesc = pd.DataFrame(columns=['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'],
                      data=listItem)
dfDesc

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,hotel,object,0,0.00,2,"[City Hotel, Resort Hotel]"
1,is_canceled,int64,0,0.00,2,"[0, 1]"
2,lead_time,int64,0,0.00,479,"[387, 159]"
3,arrival_date_year,int64,0,0.00,3,"[2015, 2016]"
4,arrival_date_month,object,0,0.00,12,"[March, February]"
5,arrival_date_week_number,int64,0,0.00,53,"[45, 43]"
6,arrival_date_day_of_month,int64,0,0.00,31,"[20, 2]"
7,stays_in_weekend_nights,int64,0,0.00,17,"[1, 5]"
8,stays_in_week_nights,int64,0,0.00,35,"[16, 17]"
9,adults,int64,0,0.00,14,"[6, 40]"
10,children,float64,4,0.00,5,"[nan, 2.0]"
11,babies,int64,0,0.00,5,"[2, 0]"
12,meal,object,0,0.00,5,"[BB, HB]"
13,country,object,488,0.41,177,"[ATF, CHN]"
14,market_segment,object,0,0.00,8,"[Corporate, Online TA]"
15,distribution_channel,object,0,0.00,5,"[Corporate, TA/TO]"
16,is_repeated_guest,int64,0,0.00,2,"[0, 1]"
17,previous_cancellations,int64,0,0.00,15,"[3, 24]"
18,previous_bookings_not_canceled,int64,0,0.00,73,"[39, 13]"
19,reserved_room_type,object,0,0.00,10,"[L, C]"
20,assigned_room_type,object,0,0.00,12,"[F, H]"
21,booking_changes,int64,0,0.00,21,"[7, 4]"
22,deposit_type,object,0,0.00,3,"[No Deposit, Refundable]"
23,agent,float64,16340,13.69,333,"[302.0, 286.0]"
24,company,float64,112593,94.31,352,"[347.0, 280.0]"
25,days_in_waiting_list,int64,0,0.00,128,"[83, 176]"
26,customer_type,object,0,0.00,4,"[Contract, Group]"
27,adr,float64,0,0.00,8879,"[369.0, 125.1]"
28,required_car_parking_spaces,int64,0,0.00,5,"[3, 2]"
29,total_of_special_requests,int64,0,0.00,6,"[3, 1]"
30,reservation_status,object,0,0.00,3,"[No-Show, Check-Out]"
31,reservation_status_date,object,0,0.00,926,"[2016-09-23, 2015-01-21]"

The 'company' feature is considered to be dropped as it has 94% NaN values, and will be handle in preprocessing section

We should reformat reservation status date to date and time format, also the arrival date into a new date and time feature.

In [7]:
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

# Creating the arrival date full feature: 
df['arrival_date_full'] = df['arrival_date_year'].astype(str) + "-" + df['arrival_date_month'].map({'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}).astype(str) + "-" + df['arrival_date_day_of_month'].astype(str)
df['arrival_date_full'] = pd.to_datetime(df['arrival_date_full'], format="%Y-%m-%d")

The day difference between arrival date and reservation status date can be calculated now with the format both as date and time. For not canceling customers this difference represent how long they stayed, while for canceling customers this number represent their cancelation days prior arrival date that was booked. Below is the difference calculation and reformating to integer type.

In [8]:
# Creating a new feature representing length of stay or how many days before arrival did the customer cancel:
df['status_minus_arrival_date'] = np.abs(df['arrival_date_full'] - df['reservation_status_date']).astype(str)
# formating the feature 
def format_lenght(date):
    return date[0]
df['status_minus_arrival_date'] = df['status_minus_arrival_date'].map(format_lenght).astype(int)

Checking all features unique values to check if there any values that are still not quite right such as 'Undefined'.

In [9]:
for col in df.columns:
    print(f"{col}: \n{df[col].unique()}\n")

hotel:
['Resort Hotel' 'City Hotel']

is_canceled:
[0 1]

lead_time:
[342 737   7  13  14   0   9  85  75  23  35  68  18  37  12  72 127  78
  48  60  77  99 118  95  96  69  45  40  15  36  43  70  16 107  47 113
  90  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364
 324  79  21 109 102   4  98  92  26  73 115  86  52  29  30  33  32   8
 100  44  80  97  64  39  34  27  82  94 110 111  84  66 104  28 258 112
  65  67  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108
 106  31  87  41 304 117  59  53  58 116  42 321  38  56  49 317   6  57
  19  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124
 327 131 460 140 114 139 122 137 126 120 128 135 150 143 151 132 125 157
 147 138 156 164 346 159 160 161 333 381 149 154 297 163 314 155 323 340
 356 142 328 144 336 248 302 175 344 382 146 170 166 338 167 310 148 165
 172 171 145 121 178 305 173 152 354 347 158 185 349 183 352 177 200 192
 361 207 174 330 134 350 334 283 153 197 133 241 193 235 194 261 260 216
 169 209 238 215 141 189 187 223 284 214 202 211 168 230 203 188 232 709
 219 162 196 190 259 228 176 250 201 186 199 180 206 205 224 222 182 210
 275 212 229 218 208 191 181 179 246 255 226 288 253 252 262 236 256 234
 254 468 213 237 198 195 239 263 265 274 217 220 307 221 233 257 227 276
 225 264 311 277 204 290 266 270 294 319 282 251 322 291 269 240 271 184
 231 268 247 273 300 301 267 244 306 293 309 272 242 295 285 243 308 398
 303 245 424 279 331 281 339 434 357 325 329 278 332 343 345 360 348 367
 353 373 374 406 400 326 379 399 316 341 320 385 355 363 358 296 422 390
 335 370 376 375 397 289 542 403 383 384 359 393 337 362 365 435 386 378
 313 351 287 471 462 411 450 318 372 371 454 532 445 389 388 407 443 437
 451 391 405 412 419 420 426 433 440 429 418 447 461 605 457 475 464 482
 626 489 496 503 510 517 524 531 538 545 552 559 566 573 580 587 594 601
 608 615 622 629 396 410 395 423 408 409 448 465 387 414 476 479 467 490
 493 478 504 507 458 518 521 377 444 380 463]

arrival_date_year:
[2015 2016 2017]

arrival_date_month:
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']

arrival_date_week_number:
[27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]

arrival_date_day_of_month:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]

stays_in_weekend_nights:
[ 0  1  2  4  3  6 13  8  5  7 12  9 16 18 19 10 14]

stays_in_week_nights:
[ 0  1  2  3  4  5 10 11  8  6  7 15  9 12 33 20 14 16 21 13 30 19 24 40
 22 42 50 25 17 32 26 18 34 35 41]

adults:
[ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]

children:
[ 0.  1.  2. 10.  3. nan]

babies:
[ 0  1  2 10  9]

meal:
['BB' 'FB' 'HB' 'SC' 'Undefined']

country:
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

market_segment:
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']

distribution_channel:
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

is_repeated_guest:
[0 1]

previous_cancellations:
[ 0  1  2  3 26 25 14  4 24 19  5 21  6 13 11]

previous_bookings_not_canceled:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 22 23 24
 25 27 28 29 30 19 26 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]

reserved_room_type:
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']

assigned_room_type:
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']

booking_changes:
[ 3  4  0  1  2  5 17  6  8  7 10 16  9 13 12 20 14 15 11 21 18]

deposit_type:
['No Deposit' 'Refundable' 'Non Refund']

agent:
[ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]

company:
[ nan 110. 113. 270. 178. 240. 154. 144. 307. 268.  59. 204. 312. 318.
  94. 174. 274. 195. 223. 317. 281. 118.  53. 286.  12.  47. 324. 342.
 373. 371. 383.  86.  82. 218.  88.  31. 397. 392. 405. 331. 367.  20.
  83. 416.  51. 395. 102.  34.  84. 360. 394. 457. 382. 461. 478. 386.
 112. 486. 421.   9. 308. 135. 224. 504. 269. 356. 498. 390. 513. 203.
 263. 477. 521. 169. 515. 445. 337. 251. 428. 292. 388. 130. 250. 355.
 254. 543. 531. 528.  62. 120.  42.  81. 116. 530. 103.  39.  16.  92.
  61. 501. 165. 291. 290.  43. 325. 192. 108. 200. 465. 287. 297. 490.
 482. 207. 282. 437. 225. 329. 272.  28.  77. 338.  72. 246. 319. 146.
 159. 380. 323. 511. 407. 278.  80. 403. 399.  14. 137. 343. 346. 347.
 349. 289. 351. 353.  54.  99. 358. 361. 362. 366. 372. 365. 277. 109.
 377. 379.  22. 378. 330. 364. 401. 232. 255. 384. 167. 212. 514. 391.
 400. 376. 402. 396. 302. 398.   6. 370. 369. 409. 168. 104. 408. 413.
 148.  10. 333. 419. 415. 424. 425. 423. 422. 435. 439. 442. 448. 443.
 454. 444.  52. 459. 458. 456. 460. 447. 470. 466. 484. 184. 485.  32.
 487. 491. 494. 193. 516. 496. 499.  29.  78. 520. 507. 506. 512. 126.
  64. 242. 518. 523. 539. 534. 436. 525. 541.  40. 455. 410.  45.  38.
  49.  48.  67.  68.  65.  91.  37.   8. 179. 209. 219. 221. 227. 153.
 186. 253. 202. 216. 275. 233. 280. 309. 321.  93. 316.  85. 107. 350.
 279. 334. 348. 150.  73. 385. 418. 197. 450. 452. 115.  46.  76.  96.
 100. 105. 101. 122.  11. 139. 142. 127. 143. 140. 149. 163. 160. 180.
 238. 183. 222. 185. 217. 215. 213. 237. 230. 234.  35. 245. 158. 258.
 259. 260. 411. 257. 271.  18. 106. 210. 273.  71. 284. 301. 305. 293.
 264. 311. 304. 313. 288. 320. 314. 332. 341. 352. 243. 368. 393. 132.
 220. 412. 420. 426. 417. 429. 433. 446. 357. 479. 483. 489. 229. 481.
 497. 451. 492.]

days_in_waiting_list:
[  0  50  47  65 122  75 101 150 125  14  60  34 100  22 121  61  39   5
   1   8 107  43  52   2  11 142 116  13  44  97  83   4 113  18  20 185
  93 109   6  37 105 154  64  99  38  48  33  77  21  80  59  40  58  89
  53  49  69  87  91  57 111  79  98  85  63  15   3  41 224  31  56 187
 176  71  55  96 236 259 207 215 160 120  30  32  27  62  24 108 147 379
  70  35 178 330 223 174 162 391  68 193  10  76  16  28   9 165  17  25
  46   7  84 175 183  23 117  12  54  26  73  45  19  42  72  81  92  74
 167  36]

customer_type:
['Transient' 'Contract' 'Transient-Party' 'Group']

adr:
[  0.    75.    98.   ... 266.75 209.25 157.71]

required_car_parking_spaces:
[0 1 2 8 3]

total_of_special_requests:
[0 1 3 2 4 5]

reservation_status:
['Check-Out' 'Canceled' 'No-Show']

reservation_status_date:
['2015-07-01T00:00:00.000000000' '2015-07-02T00:00:00.000000000'
 '2015-07-03T00:00:00.000000000' '2015-05-06T00:00:00.000000000'
 '2015-04-22T00:00:00.000000000' '2015-06-23T00:00:00.000000000'
 '2015-07-05T00:00:00.000000000' '2015-07-06T00:00:00.000000000'
 '2015-07-07T00:00:00.000000000' '2015-07-08T00:00:00.000000000'
 '2015-05-11T00:00:00.000000000' '2015-07-15T00:00:00.000000000'
 '2015-07-16T00:00:00.000000000' '2015-05-29T00:00:00.000000000'
 '2015-05-19T00:00:00.000000000' '2015-06-19T00:00:00.000000000'
 '2015-05-23T00:00:00.000000000' '2015-05-18T00:00:00.000000000'
 '2015-07-09T00:00:00.000000000' '2015-06-02T00:00:00.000000000'
 '2015-07-13T00:00:00.000000000' '2015-07-04T00:00:00.000000000'
 '2015-06-29T00:00:00.000000000' '2015-06-16T00:00:00.000000000'
 '2015-06-18T00:00:00.000000000' '2015-06-12T00:00:00.000000000'
 '2015-06-09T00:00:00.000000000' '2015-05-26T00:00:00.000000000'
 '2015-07-11T00:00:00.000000000' '2015-07-12T00:00:00.000000000'
 '2015-07-17T00:00:00.000000000' '2015-04-15T00:00:00.000000000'
 '2015-05-13T00:00:00.000000000' '2015-07-10T00:00:00.000000000'
 '2015-05-20T00:00:00.000000000' '2015-05-12T00:00:00.000000000'
 '2015-07-14T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-05-01T00:00:00.000000000' '2015-03-30T00:00:00.000000000'
 '2015-07-19T00:00:00.000000000' '2015-06-03T00:00:00.000000000'
 '2015-06-26T00:00:00.000000000' '2015-05-14T00:00:00.000000000'
 '2015-07-20T00:00:00.000000000' '2015-05-07T00:00:00.000000000'
 '2015-05-28T00:00:00.000000000' '2015-04-13T00:00:00.000000000'
 '2015-03-25T00:00:00.000000000' '2015-07-21T00:00:00.000000000'
 '2015-06-27T00:00:00.000000000' '2015-07-18T00:00:00.000000000'
 '2015-07-23T00:00:00.000000000' '2015-06-08T00:00:00.000000000'
 '2015-06-22T00:00:00.000000000' '2015-06-24T00:00:00.000000000'
 '2015-03-05T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-04-24T00:00:00.000000000' '2015-07-22T00:00:00.000000000'
 '2015-05-27T00:00:00.000000000' '2015-04-06T00:00:00.000000000'
 '2015-04-11T00:00:00.000000000' '2015-07-25T00:00:00.000000000'
 '2015-07-28T00:00:00.000000000' '2015-07-29T00:00:00.000000000'
 '2015-06-25T00:00:00.000000000' '2015-07-24T00:00:00.000000000'
 '2015-06-05T00:00:00.000000000' '2015-06-30T00:00:00.000000000'
 '2015-06-13T00:00:00.000000000' '2015-06-11T00:00:00.000000000'
 '2015-07-30T00:00:00.000000000' '2015-07-27T00:00:00.000000000'
 '2015-04-29T00:00:00.000000000' '2015-06-04T00:00:00.000000000'
 '2015-07-26T00:00:00.000000000' '2015-08-01T00:00:00.000000000'
 '2015-08-02T00:00:00.000000000' '2015-06-15T00:00:00.000000000'
 '2015-04-23T00:00:00.000000000' '2015-07-31T00:00:00.000000000'
 '2015-05-25T00:00:00.000000000' '2015-08-03T00:00:00.000000000'
 '2015-04-17T00:00:00.000000000' '2015-08-04T00:00:00.000000000'
 '2015-08-06T00:00:00.000000000' '2015-05-15T00:00:00.000000000'
 '2015-05-09T00:00:00.000000000' '2015-03-17T00:00:00.000000000'
 '2015-05-22T00:00:00.000000000' '2015-08-07T00:00:00.000000000'
 '2015-04-04T00:00:00.000000000' '2015-08-05T00:00:00.000000000'
 '2015-08-08T00:00:00.000000000' '2015-08-10T00:00:00.000000000'
 '2015-05-04T00:00:00.000000000' '2015-06-06T00:00:00.000000000'
 '2015-08-09T00:00:00.000000000' '2015-08-15T00:00:00.000000000'
 '2015-08-11T00:00:00.000000000' '2015-03-28T00:00:00.000000000'
 '2015-08-14T00:00:00.000000000' '2015-08-12T00:00:00.000000000'
 '2015-08-16T00:00:00.000000000' '2015-05-16T00:00:00.000000000'
 '2015-08-21T00:00:00.000000000' '2015-08-13T00:00:00.000000000'
 '2015-08-17T00:00:00.000000000' '2015-04-20T00:00:00.000000000'
 '2015-08-18T00:00:00.000000000' '2015-08-23T00:00:00.000000000'
 '2015-08-22T00:00:00.000000000' '2015-08-19T00:00:00.000000000'
 '2015-08-20T00:00:00.000000000' '2015-08-29T00:00:00.000000000'
 '2015-03-31T00:00:00.000000000' '2015-05-30T00:00:00.000000000'
 '2015-08-25T00:00:00.000000000' '2015-04-14T00:00:00.000000000'
 '2015-08-24T00:00:00.000000000' '2015-03-24T00:00:00.000000000'
 '2015-05-21T00:00:00.000000000' '2015-08-28T00:00:00.000000000'
 '2015-08-26T00:00:00.000000000' '2015-08-27T00:00:00.000000000'
 '2015-08-30T00:00:00.000000000' '2015-08-31T00:00:00.000000000'
 '2015-09-06T00:00:00.000000000' '2015-09-03T00:00:00.000000000'
 '2015-09-04T00:00:00.000000000' '2015-09-02T00:00:00.000000000'
 '2015-09-01T00:00:00.000000000' '2015-09-05T00:00:00.000000000'
 '2015-06-20T00:00:00.000000000' '2015-09-07T00:00:00.000000000'
 '2015-09-10T00:00:00.000000000' '2015-09-11T00:00:00.000000000'
 '2015-09-08T00:00:00.000000000' '2015-09-09T00:00:00.000000000'
 '2015-09-13T00:00:00.000000000' '2015-09-15T00:00:00.000000000'
 '2015-04-10T00:00:00.000000000' '2015-01-02T00:00:00.000000000'
 '2014-11-18T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-17T00:00:00.000000000' '2015-09-14T00:00:00.000000000'
 '2015-04-07T00:00:00.000000000' '2015-09-19T00:00:00.000000000'
 '2015-09-16T00:00:00.000000000' '2015-09-20T00:00:00.000000000'
 '2015-01-18T00:00:00.000000000' '2015-10-23T00:00:00.000000000'
 '2015-01-22T00:00:00.000000000' '2015-01-01T00:00:00.000000000'
 '2015-09-22T00:00:00.000000000' '2015-09-24T00:00:00.000000000'
 '2015-09-18T00:00:00.000000000' '2015-09-21T00:00:00.000000000'
 '2015-09-30T00:00:00.000000000' '2015-09-25T00:00:00.000000000'
 '2015-09-27T00:00:00.000000000' '2015-09-28T00:00:00.000000000'
 '2015-10-12T00:00:00.000000000' '2015-09-29T00:00:00.000000000'
 '2015-09-23T00:00:00.000000000' '2015-10-01T00:00:00.000000000'
 '2015-09-26T00:00:00.000000000' '2015-04-18T00:00:00.000000000'
 '2015-10-02T00:00:00.000000000' '2015-10-04T00:00:00.000000000'
 '2015-10-08T00:00:00.000000000' '2015-10-03T00:00:00.000000000'
 '2015-10-07T00:00:00.000000000' '2015-10-09T00:00:00.000000000'
 '2015-10-11T00:00:00.000000000' '2015-10-05T00:00:00.000000000'
 '2015-10-06T00:00:00.000000000' '2015-10-10T00:00:00.000000000'
 '2015-10-14T00:00:00.000000000' '2015-10-15T00:00:00.000000000'
 '2015-10-18T00:00:00.000000000' '2015-10-13T00:00:00.000000000'
 '2015-10-20T00:00:00.000000000' '2015-10-19T00:00:00.000000000'
 '2015-10-31T00:00:00.000000000' '2015-10-16T00:00:00.000000000'
 '2015-10-21T00:00:00.000000000' '2015-10-22T00:00:00.000000000'
 '2015-10-17T00:00:00.000000000' '2015-10-24T00:00:00.000000000'
 '2015-10-25T00:00:00.000000000' '2015-10-28T00:00:00.000000000'
 '2015-10-27T00:00:00.000000000' '2015-10-26T00:00:00.000000000'
 '2015-10-30T00:00:00.000000000' '2015-11-05T00:00:00.000000000'
 '2015-10-29T00:00:00.000000000' '2015-11-03T00:00:00.000000000'
 '2015-11-07T00:00:00.000000000' '2015-11-04T00:00:00.000000000'
 '2015-11-01T00:00:00.000000000' '2015-11-02T00:00:00.000000000'
 '2015-11-17T00:00:00.000000000' '2015-11-06T00:00:00.000000000'
 '2015-11-10T00:00:00.000000000' '2015-11-08T00:00:00.000000000'
 '2015-11-09T00:00:00.000000000' '2015-11-15T00:00:00.000000000'
 '2015-11-16T00:00:00.000000000' '2015-11-11T00:00:00.000000000'
 '2015-11-12T00:00:00.000000000' '2015-11-14T00:00:00.000000000'
 '2015-11-13T00:00:00.000000000' '2015-11-18T00:00:00.000000000'
 '2015-11-22T00:00:00.000000000' '2015-11-19T00:00:00.000000000'
 '2015-11-21T00:00:00.000000000' '2015-11-20T00:00:00.000000000'
 '2015-11-24T00:00:00.000000000' '2015-11-25T00:00:00.000000000'
 '2015-11-23T00:00:00.000000000' '2015-11-28T00:00:00.000000000'
 '2015-11-26T00:00:00.000000000' '2015-11-27T00:00:00.000000000'
 '2015-11-29T00:00:00.000000000' '2015-12-04T00:00:00.000000000'
 '2015-12-01T00:00:00.000000000' '2015-12-06T00:00:00.000000000'
 '2015-12-08T00:00:00.000000000' '2015-12-02T00:00:00.000000000'
 '2015-12-03T00:00:00.000000000' '2015-12-31T00:00:00.000000000'
 '2015-12-05T00:00:00.000000000' '2015-12-10T00:00:00.000000000'
 '2015-12-17T00:00:00.000000000' '2015-11-30T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-07T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2015-12-11T00:00:00.000000000'
 '2015-12-13T00:00:00.000000000' '2015-12-15T00:00:00.000000000'
 '2015-12-16T00:00:00.000000000' '2015-12-19T00:00:00.000000000'
 '2015-12-18T00:00:00.000000000' '2015-12-26T00:00:00.000000000'
 '2015-12-27T00:00:00.000000000' '2015-12-22T00:00:00.000000000'
 '2015-12-23T00:00:00.000000000' '2015-12-24T00:00:00.000000000'
 '2015-12-29T00:00:00.000000000' '2015-12-28T00:00:00.000000000'
 '2015-12-20T00:00:00.000000000' '2015-12-30T00:00:00.000000000'
 '2016-01-02T00:00:00.000000000' '2016-01-01T00:00:00.000000000'
 '2015-12-25T00:00:00.000000000' '2016-01-03T00:00:00.000000000'
 '2016-01-04T00:00:00.000000000' '2016-01-11T00:00:00.000000000'
 '2016-01-07T00:00:00.000000000' '2015-12-21T00:00:00.000000000'
 '2016-01-09T00:00:00.000000000' '2016-01-10T00:00:00.000000000'
 '2016-01-08T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-01-12T00:00:00.000000000' '2016-01-13T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-01-17T00:00:00.000000000' '2016-01-19T00:00:00.000000000'
 '2016-01-18T00:00:00.000000000' '2016-01-21T00:00:00.000000000'
 '2016-01-24T00:00:00.000000000' '2016-01-22T00:00:00.000000000'
 '2016-01-29T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-01-25T00:00:00.000000000' '2016-03-08T00:00:00.000000000'
 '2016-01-26T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-01-30T00:00:00.000000000' '2016-02-01T00:00:00.000000000'
 '2016-02-02T00:00:00.000000000' '2016-02-08T00:00:00.000000000'
 '2016-02-07T00:00:00.000000000' '2016-01-28T00:00:00.000000000'
 '2016-02-05T00:00:00.000000000' '2016-02-03T00:00:00.000000000'
 '2016-02-13T00:00:00.000000000' '2016-02-10T00:00:00.000000000'
 '2016-02-04T00:00:00.000000000' '2016-02-12T00:00:00.000000000'
 '2016-02-11T00:00:00.000000000' '2016-02-16T00:00:00.000000000'
 '2016-02-14T00:00:00.000000000' '2016-02-15T00:00:00.000000000'
 '2016-02-20T00:00:00.000000000' '2016-02-06T00:00:00.000000000'
 '2016-01-14T00:00:00.000000000' '2016-02-17T00:00:00.000000000'
 '2016-02-21T00:00:00.000000000' '2016-02-24T00:00:00.000000000'
 '2016-02-25T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-02-26T00:00:00.000000000'
 '2016-02-23T00:00:00.000000000' '2016-03-05T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-02-27T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-03-04T00:00:00.000000000' '2016-02-29T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-03-02T00:00:00.000000000'
 '2016-03-30T00:00:00.000000000' '2016-03-07T00:00:00.000000000'
 '2016-03-14T00:00:00.000000000' '2016-03-21T00:00:00.000000000'
 '2016-03-09T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-22T00:00:00.000000000' '2016-03-10T00:00:00.000000000'
 '2016-03-11T00:00:00.000000000' '2016-03-20T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-17T00:00:00.000000000'

Besides NaN data that we saw earlier, the data also has a couple of values that are filled with Undefined and values that does not make sense which is negative or outliers.

In [10]:
# describe numerical
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,status_minus_arrival_date
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363,3.077234
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798,2.135618
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000,1.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000,3.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,4.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000,9.000000

In [11]:
# describe categorical
df.describe(exclude='number')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date,arrival_date_full
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,4,3,926,793
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-10-21 00:00:00,2015-12-05 00:00:00
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,89613,75166,1461,448
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-17 00:00:00,2015-07-01 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-14 00:00:00,2017-08-31 00:00:00

# Explanatory Data Analysis (EDA)

## Missing Value Handling

## Data Anomalies Handling

## Data Outliers Handling

## Duplicated Data Handling

## Feature Engineering

## Univariate Analysis

## Bivariate Analysis

## Multivariate Analysis

# Data Processing

## Preprocessing Scheme

# Modeling

## Model Benchmarking

### Cross Validation K-Fold for Data Training

### Cross Validation K-Fold for Data Testing

### Model Benchmaring: Comparison

## Hyperparameter Tuning

### Model:

### Model:

### Model:

## Undersampling and Oversampling Test

## Feature Selection

## Other Optimization

# Deployment

# Conclusion and Recommendation